

</div>



</div>
</div>
<footer class="inverse">
  <div class="row social">

    <div class="badge github">
      <i class="fa fa-github fa-2x"></i>
    </div>

    <div class="badge linkedin">
      <i class="fa fa-linkedin fa-2x"></i>
    </div>

  </div>
  <div class="row">

    &copy; 2016 | Irin Avery | COMP2068

  </div>
</footer>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


</body>
</html>