<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title%></title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="./stylesheets/style.css">


</head>
<body>
<nav id="nav"  class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Irin Avery Portfolio</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li<% if (title === 'Home') { %>
                class="active"
                <% } %> >
          <a href="/" ><i class="fa fa-home fa-lg"></i> Home</a></li>
        <li<% if (title === 'About Me') { %>
                class="active"
                <% } %> ><a href="/about"><i class="fa fa-info fa-lg"></i> About</a></li>
        <li<% if (title === 'My Projects') { %>
                class="active"
                <% } %> ><a href="/projects"><i class="fa fa-th-large fa-lg"></i> Projects</a></li>
        <li<% if (title === 'My Services') { %>
                class="active"
                <% } %> ><a href="/services"><i class="fa fa-thumbs-o-up fa-lg"></i> Services</a></li>
        <li<% if (title === 'Contact Me') { %>
                class="active"
                <% } %> ><a href="/contact"><i class="fa fa-envelope-o fa-lg"></i> Contact Me</a></li>
      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

