<% include partials/header.ejs %>

<div class="underlined-title">

    <h1><%= title %></h1>
    <hr>

</div>

<div class="row">
    <div class="col-sm-5 col-sm-offset-1">
        <img src="/images/collegecoderteam.jpg" class="img-responsive center-block"/>
    </div>
    <div class="col-sm-5 ">
        <h3>Co-Founder of College Coders</h3>
        <p>
            College Coders links young uber talented programming professionals with the local business community to
            provide a cost effective alternative solution to traditional web development companies. We are so much more
            then websites.
        </p>

        <p>College Coders has been one of Barrie’s best start-up success stories, and in the process, is creating a new
            industry with new opportunities for today’s IT students: student software solutions.
            Founded during Barrie Startup Weekend 2016, we give other college students a chance to pay for their
            schooling and to secure post-graduation careers.
            That makes College Coders the original student-run software solutions company.
        </p>

    </div>
</div>

<div class="row">

    <div class="col-sm-5 col-sm-offset-1">

        <h3>Co-Founder of Vanguard Technologies</h3>
        <p>
            At my co-founded company Vanguard Technologies, we harness inexpensive wireless
            technology to bring new meaning to be connected. Being the lead programmer, I have worked
            with our team to develop our Wi-Fi integrated Inventory Control System that won the
            Entrepreneurial Award at the Georgian College Innovation Showcase 2015.
        </p>
    </div>
    <div class="col-sm-5">
        <img src="/images/vanguardlogo.jpg" class="img-responsive center-block"/>
    </div>
</div>
<div class="row">

    <div class="col-sm-5 col-sm-offset-1">
        <img src="/images/scratch.jpg" class="img-responsive center-block"/>
    </div>
    <div class="col-sm-5">

        <h3>Teaching and Tutoring</h3>
        <p>
            Through coordinating and tutoring over 10 students a week in Java with Georgian College
            Peer Services, I have been able to empower and help other students as a mentor.
        </p>
        <p>
            I was a Scratch program instructor Hillsdale Elementary School. I engaged and taught grade 2’s and 3’s
            logical thinking
            while building fun light games as a class using the program Scratch from MIT.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-7 col-sm-offset-1">
        <h3>Awards and Accomplishments</h3>

        <h4>
            Most Marketable Award, April 2016
        </h4>
        <p>Our co-founded company College Coders won most marketable award in 2016</p>
        <h4>
            Entrepreneurial Award, Jan 2015
        </h4>
        <p>Prototyped a Wi-Fi integrated Inventory Control System
            that won the Georgian College Innovation Showcase 2015</p>
        <h4> Entrepreneurial Award, Dec 2014</h4>
        <p>Built a DIY 3D-Printer with a colleague that won the
            Georgian College Innovation Showcase 2014
        </p>
        <h4>Junior Black belt in Karate Do, Sept 2009</h4>
        Junior Black belt in Karate Do, Blue Dragon Martial Arts Shanty Bay, ON
        </p>


    </div>

    <div class="col-sm-3">

        <h3>Certifications</h3>
        <div class="row certifications">

            <p><span class="badge">
                    HTML, CSS, Javascript
                </span>
            </p>
            <p>
                        <span class="badge">
                    Front-End Javascript Frameworks: Angular JS
                </span>
            </p>
            <p>

                    <span class="badge">
                    Front-End Web UI Frameworks and Tools
                </span>
            </p>

            <p>
                    <span class="badge">
                    JSON Data
                </span>

            </p>
            <p>

                    <span class="badge">
                    XML Data
                </span>

            </p>

        </div>


    </div>


<% include partials/footer.ejs %>