<% include partials/header.ejs%>

<h1><%= title %></h1>
<div class="row">
    <div class="col-sm-6">
        <h3>Kickstart your web development</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        <a href="#" class="btn btn-info">Try the demo</a>
    </div>

    <div class="col-sm-6">
        <img src="http://placehold.it/800x600" class="img-responsive" alt="1st gallery Thumb">
    </div>
</div>


<% include partials/footer.ejs%>