<% include partials/header.ejs%>
<div class="home-bg">

    <div class="container">

    <div class="row home-content">

            <h1>Freedom to express your creativity</h1>
            <div>
                <p class="lead">We don't want to overload you with hundreds of styles you don't want, or need. We give you a strong base to express your own creativity.</p>
            </div>
    </div>

    </div>
</div>

<% include partials/footer.ejs%>