<% include partials/header.ejs%>
<div class="container">

<div class="row">
    <div class="col-md-12">
        <div class="underlined-title">

            <h1><%= title %></h1>
            <hr>
        </div>
        <div class="services-wrapper" data-pg-collapsed>
            <div class="col-md-4">
                <div class="icon bg-green">
                    <span class="fa fa-laptop"></span>
                </div>
                <h4>Digital Design</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem.</p>
            </div>
            <div class="col-md-4">
                <div class="icon bg-purple">
                    <span class="fa fa-code"></span>
                </div>
                <h4>Web Development</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem.</p>
            </div>
            <div class="col-md-4">
                <div class="icon bg-yellow">
                    <span class="fa fa-rocket"></span>
                </div>
                <h4>Creative Direction</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem.</p>
            </div>
        </div>
        <div class="services-wrapper" data-pg-collapsed>
            <div class="col-md-4">
                <div class="icon bg-green">
                    <span class="fa fa-database"></span>
                </div>
                <h4>Database Design</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem.</p>
            </div>
            <div class="col-md-4">
                <div class="icon bg-purple">
                    <span class="fa fa-wifi"></span>
                </div>
                <h4>Internet of Things Development</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem.</p>
            </div>
            <div class="col-md-4">
                <div class="icon bg-yellow">
                    <span class="fa fa-shopping-cart"></span>
                </div>
                <h4>E-Commerce Development</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem.</p>
            </div>
        </div>
    </div>
</div>

</div>
<% include partials/footer.ejs%>